// color
$default-text-color: #4b5563;
$light-text-color: white;
$primary-color: #34d399;
$error-color: #ef4444;

// background-color
$default-background-color: white;
$secondary-background-color: #f7fafc;

// box-shadow
$default-box-shadow: 0 10px 15px 2px #0000001a, 0 4px 6px -2px rgba(0, 0, 0, 0.05);
