@import "../../styles/variables";

$navbar-height: 60px;

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: $navbar-height;
  box-shadow: $default-box-shadow;
  background-color: $default-background-color;
  position: fixed;
  top: 0;
  width: 100%;

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1.5rem;
    width: 100%;
  }
}

.logo {
  color: $default-text-color;
  font-weight: 800;
  text-decoration: none;
}

.navbarMenu {
  list-style: none;
  display: flex;
}

.navbarMenuItem {
  color: $default-text-color;
  display: inline-block;
  font-weight: 700;
  transition: border 0.2s ease 0s;
  text-decoration: none;
  line-height: 1.5rem;
  margin-left: 1.5rem;
}

.navbarMenuItemActive {
  border-bottom: 4px solid $primary-color;
}

.hamburger {
  stroke: $default-text-color;
  width: 30px;
  height: 30px;
  cursor: pointer;
  display: none;
  transition: all 0.5s ease 0s;
}

.overlay {
  background-color: $default-background-color;
  position: fixed;
  inset: 0px;
  top: $navbar-height;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease 0s, transform 0.5s ease 0s;
  transform: translateY(40px);
}

.overlayVisible {
  visibility: visible;
  opacity: 1;
  transform: translateY(0px);
}

.overlayLogo {
  color: $default-text-color;
  font-weight: 800;
  text-align: left;
}

.menu {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: left;
}

.menuItem {
  color: $default-text-color;
  display: inline-block;
  border-bottom: 1px solid transparent;
  margin-top: 5px;
  font-weight: 700;
  transition: border 0.2s ease 0s;
  text-decoration: none;
  line-height: 2rem;
  font-size: 20px;
  border-left: 4px solid;
  border-left-color: transparent;
}

.menuItemText {
  padding-left: calc(1.5rem - 4px);
}

.menuItemActive {
  border-left-color: $primary-color;
}

.menuIcon {
  margin-right: 1.5rem;
}

.menuCloseButton {
  background-color: $default-background-color;
  border: none;
  width: 30px;
  height: 30px;
  span {
    cursor: pointer;
    position: relative;
    height: 24px;
    width: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  span::before,
  span::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 3px;
    background-color: $default-text-color;
  }

  span::before {
    transform: rotate(45deg);
  }

  span::after {
    transform: rotate(-45deg);
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5rem;
}

@media screen and (max-width: 600px) {
  .hamburger {
    display: block;
  }
  .navbarMenu {
    display: none;
  }
}
