.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 60px;
  margin: 0px auto;
  width: 100%;
  padding: 0px 1.5rem;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  background-color: white;
}

.logo {
  color: #374151;
  font-weight: 800;
}
