@import "../../styles/variables";

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  background-color: $default-background-color;
  box-shadow: $default-box-shadow;
  border-radius: 8px;
  color: $error-color;
  margin-top: 2rem;
}
