@import "../../styles/variables";

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
}

.title {
  color: $default-text-color;
  font-weight: 700;
}

.tableContainer {
  background-color: $default-background-color;
  box-shadow: $default-box-shadow;
  border-radius: 8px;
  padding: 1rem;

  h3 {
    color: $default-text-color;
    font-weight: 700;
    margin-top: 0;
  }
}

.errorContainer {
  h2 {
    margin-bottom: 0;
  }
}
