@import "../../styles/variables";

.table {
  width: 100%;
  border-collapse: collapse;

  thead,
  tbody {
    padding: 1rem;
  }
  th {
    box-sizing: border-box;
    padding: 0.5rem 0;
    background-color: $default-text-color;
    color: $light-text-color;
    border: 1px solid $default-text-color;
  }

  td {
    box-sizing: border-box;
    border: 1px solid $default-text-color;
    padding: 0.5rem;
  }
}
