$default-gray: #4b5563;
$default-green: #34d399;

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
}

.title {
  color: $default-gray;
  font-weight: 700;
}

.tableContainer {
  background-color: white;
  box-shadow: 0 10px 15px -3px #0000001a, 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  padding: 1rem;

  h3 {
    color: $default-gray;
    font-weight: 700;
    margin-top: 0;
  }
}

.errorContainer {
  h2 {
    margin-bottom: 0;
  }
}
